<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bloodbank">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BloodBank">
        <activity android:name=".AdminConfirmUpdateBloodBank"></activity>
        <activity android:name=".AdminEmail"/>
        <activity android:name=".AdminManageBloodBank" />
        <activity android:name=".Email" />
        <activity android:name=".AdminRequestList"/>
        <activity android:name=".AdminViewRequestList"/>
        <activity android:name=".UserViewBloodBank" />
        <activity android:name=".AdminUserList" />
        <activity android:name=".UserEditProfile" />
        <activity android:name=".UserViewProfile" />
        <activity android:name=".UserDonorDetail" />
        <activity android:name=".AdminDonorDetails" />
        <activity android:name=".AdminBloodDonorList" />
        <activity android:name=".UserBloodDonorList" />
        <activity android:name=".AdminHomepage" />
        <activity android:name=".UserHomepage" />
        <activity android:name=".UserMakeRequest"/>
        <activity android:name=".registration" />
        <activity android:name=".adminLogin" />
        <activity android:name=".userLogin" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>